@model Geoportal.DemandArchiveErs

<h2>Edit - @Model.DemandArchiveErsNr</h2>

<form method="post" asp-controller="File">
    <input asp-for="DemandArchiveErsNr" type="hidden" />
    <div>
        <label asp-for="WorkstationsNr"></label>
        <div>
            <input asp-for="WorkstationsNr" />
        </div>

        <label asp-for="Status"></label>
        <div>
            <input asp-for="Status" />
        </div>

        <label asp-for="DtstampBeginDemand"></label>
        <div>
            <input asp-for="DtstampBeginDemand" />
        </div>

        <label asp-for="RegionTypesNr"></label>
        <div>
            <input asp-for="RegionTypesNr" />
        </div>

        <label asp-for="TypesDemandNr"></label>
        <div>
            <input asp-for="TypesDemandNr" />
        </div>

        <label asp-for="Priority"></label>
        <div>
            <input asp-for="Priority" />
        </div>

        <label asp-for="ConfirmDeleteAfterArchive"></label>
        <div>
            <input asp-for="ConfirmDeleteAfterArchive" />
        </div>

        <label asp-for="ServiceTypeToShare"></label>
        <div>
            <input asp-for="ServiceTypeToShare" />
        </div>

    </div>
    <div>
        <button type="submit" >Save </button>

    </div>






</form>

