@model IEnumerable<Geoportal.DemandArchiveErs>
@{
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <a href="/File/Create">Добавить новый файл</a>
    <br />
    <a asp-action="Ramka" asp-controller="File">Добавить рамку</a>

    <div>
        <h3>Вы добавили файлы: </h3>
        <h2>Путь к каталогу: </h2>
        <p>@ViewData["Path"]</p>
        <br />
        <h2>"№ пакета архивирования:</h2>
        <p>@ViewData["ID"]</p>
        <br />
        <h2>"№ файла в пакете</h2>

        @foreach (var files_id in (List<long?>)ViewBag.FilesID)
    {
        <p>@files_id.ToString()</p>
    }




    </div>
  
</body>
</html>
