@{
    ViewBag.Title = "Главная страница";
}
<!-- <script src="/js/Ramka"></script>    -->
<head>
    <script src="/js/wicket.js" type="text/javascript"></script>
    <script src="/js/wicket-gmap3.js" type="text/javascript"></script>


</head>
<body>
    <script>
         $.ajax({
    url: "/File/Add/",
    type: "POST",


    error: editFailure
});

function editFailure(data) {
   alert(data);
};

    </script>

    <div id="mapid" style="width: 800px; height: 500px;"></div>
    <button onclick="Display()">Отобразить рамку</button>
    @using (Html.BeginForm())
    {
        <label>Wkt_string</label>
        <input type="text" name="WKT_string" id="Wkt_string" />
        <button asp-action="Add" asp-controller="File">Добавить</button>

    }

    <form action='#' onsubmit="return false;">
        <input type='file' id='fileinput'>
        <input type='button' id='btnLoad' value='Load' onclick='loadFile();'>
    </form>




















</body>





