
@{
    Layout = "_Layout";
}

<br />
<!--Добавление данных в бд-->
<form asp-action="Add_files" asp-controller="file" method="post" enctype="multipart/form-data">
    <!--Добавление файлов-->
<div class="form-group">
      <input type="file" id="file" name="File_col" multiple />


</div>




@*<div class="form-group">
        <label asp-for="WorkstationsNr" class="control-label">WorkstationsNr</label>
        <input type="number" asp-for="WorkstationsNr" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label">Status</label>
        <input type="number" asp-for="Status" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DtstampBeginDemand" class="control-label">DtstampBeginDemand</label>
        <input type="datetime" asp-for="DtstampBeginDemand" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RegionTypesNr" class="control-label">RegionTypesNr</label>
        <input type="number" asp-for="RegionTypesNr" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TypesDemandNr" class="control-label">TypesDemandNr</label>
        <input type="number" asp-for="TypesDemandNr" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Priority" class="control-label">Priority</label>
        <input type="number" asp-for="Priority" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmDeleteAfterArchive" class="control-label">ConfirmDeleteAfterArchive</label>
        <input type="number" asp-for="ConfirmDeleteAfterArchive" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ServiceTypeToShare" class="control-label">ServiceTypeToShare</label>
        <input type="text" asp-for="ServiceTypeToShare" class="form-control" />
    </div>*@
<div class="form-group">
    <input type="submit" value="Send" class="btn btn-default" />
</div>
</form>
