@model Geoportal.ViewModel.LoginModel
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Страница входа</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        html,
        body {
            height: 100%;
        }

        #div_form {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 90px;
            padding-bottom: 60px;
           
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
</head>

<body>
<div class="text-center" id="div_form">
    <form class="form-signin" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <h1 class="h3 mb-3 font-weight-normal">Войдите в систему!</h1>
        <div class="validation" asp-validation-summary="ModelOnly"/>
        <div>
            <div class="form-group">
                <input type="text" asp-for="Login" id="inputEmail" class="form-control"required autofocus placeholder="Логин" class="sr-only"/>
                <span asp-validation-for="Login"/>
            </div>
            <div class="form-group">
                <input asp-for="Password" id="inputPassword" class="form-control" required placeholder="Пароль"/>
                <span asp-validation-for="Password"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-lg btn-primary btn-block"/>
            </div>
        </div>

    </form>
</div>
</body>
</html>