

@{
    ViewBag.Title = "Главная страница";
}
<!-- <script src="/js/Ramka"></script>    -->
<body>
    @using (Html.BeginForm())
    {
        <label>Wkt_string</label>
        <input type="text" name="WKT_string" />
        <button asp-action="Add" asp-controller="File">Добавить</button>
    }

    <div id="mapid" style="width: 800px; height: 500px;"></div>


















</body>





