

@{
    ViewBag.Title = "Главная страница";
}
<!-- <script src="/js/Ramka"></script>    -->
<body>
    @using (Html.BeginForm())
    {
        <input type="text" name="WKT_string" />
        <button asp-action="Add" asp-controller="Ramka">Добавить</button>


    }

    <div id="mapid" style="width: 800px; height: 500px;"></div>



    <script>

   




    </script>














</body>





