@{
        ViewBag.Title = "Главная страница";
    }
    <h5>Для получения логина и пароля для входа,обращайтесь к системному администратору!</h5>
    <h6> Для начала работы с системой,необходимо нажать "Добавить файлы"!</h6>
    
    













    












