@{
        ViewBag.Title = "Главная страница";
    }

    <body>

        <h1>Hello</h1>

        <div id="mapid" style="width: 800px; height: 500px;"></div>












    </body>












